
<html ng-app="app">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Storage Меринджей</title>
<link rel="stylesheet" href="./css/bootstrap.css" media="screen">
</head>
<body>
	<div class="container" ng-controller="DeliveriesController">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" type="button"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Storage Меринджей</a>
				</div>

				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="materials">Materials</a></li>
						<li class="active"><a href="deliveries">Deliveries</a></li>
						<li class="active"><a href="vendors">Vendors <span
								class="sr-only">(current)</span></a></li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Search">
						</div>
						<button class="btn btn-default" type="submit">Submit</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Link</a></li>
					</ul>

				</div>
			</div>
		</nav>
		<div class="row">
			<div class="column">
				<div id="newdelivery" class="col-sm-5">

					<form class="form-horizontal">
						<fieldset>
							<legend>New Delivery</legend>
							<div class="form-group">

								<label class="col-lg-2 control-label" for="vendor">Vendor</label>
								<div class="col-lg-10">
									<select class="form-control" id="vendor"
										ng-model="selectedVendor"
										ng-options="v as v.name for v in vendors"></select>
								</div>

								<table class="table table-striped table-hover ">
									<thead>
										<tr>
											<th>Material</th>
											<th>Type</th>
											<th>Color</th>
											<th>Quantity</th>
											<th>Price</th>
											<th>Add Item</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><select class="form-control" id="material1"
												placeholder="Material" ng-model="$scope.selectedMaterial"
												ng-options="m as m.name for m in materials"></select></td>
											<td><input class="form-control" id="typematerial1"
												type="text" placeholder="Type"></td>
											<td><input class="form-control" id="color1" type="text"
												placeholder="Color"></td>
											<td><input class="form-control" id="quantity1"
												type="text" placeholder="Quantity"></td>
											<td><input class="form-control" id="price1" type="text"
												placeholder="Price"></td>
											<td>
												<button type="button" onclick="addrow()">Add item</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-lg-10 col-lg-offset-2">
								<button class="btn btn-default" type="button">Cancel</button>
								<button class="btn btn-primary" type="button" ng-click="submit()">Submit</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div ng-repeat="delivery in deliveries">
				<h2 class="text-center">DELIVERY {{ $index + 1 }}</h2>
				<h3 class="text-center">Vendor: {{ delivery.vendor }}</h3>
				<h3 class="text-center">Date of delivery: {{
					delivery.deliveryDate }}</h3>

				<table class="table table-striped table-hover ">
					<thead>
						<tr>
							<th>#</th>
							<th>Material</th>
							<th>Quantity</th>
							<th>Material Form</th>
							<th>Type</th>
							<th>Color</th>
							<th>Price</th>
							<th>Size</th>
							<th>SizeMetric</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="deliveryEntity in delivery.deliveryEntities">
							<td>{{ $index + 1 }}</td>
							<td>{{ deliveryEntity.material }}</td>
							<td>{{ deliveryEntity.quantity }}</td>
							<td>{{ deliveryEntity.materialForm }}</td>
							<td>{{ deliveryEntity.type }}</td>
							<td>{{ deliveryEntity.color }}</td>
							<td>{{ deliveryEntity.price }}</td>
							<td>{{ deliveryEntity.size }}</td>
							<td>{{ deliveryEntity.sizeMetric }}</td>
						</tr>

					</tbody>
				</table>
				<hr
					style="width: 100%; color: black; height: 1px; background-color: black;" />
			</div>
		</div>
		<script src="./js/jquery-1.10.2.min.js"></script>
		<script src="./js/bootstrap.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.8/angular.js"></script>
		<script src="./js/app.js"></script>
		<script src="./js/services.js"></script>
		<script src="./js/deliveriesController.js"></script>
		<script>
			function addrow() {
				var container = $('#newdelivery');
			    var count = container.find('tr').length;
			    var newRowString = generateRow(count); 
			    var newRow = $(newRowString);
			    $(container.find('tr')[1]).parent().prepend(newRow);
			    var $options = $("#material1 > option").clone();
			    $('#material' + count).append($options);
			}
			
			function generateRow(count) {
				var result = '';
				result += '<tr><td><select class="form-control" id="material' + count + '"placeholder="Material" ';
				result += 'ng-options="m as m.name for m in materials"></select></td>'
				result += '<td><input class="form-control" id="typematerial' + count + '" ';
				result += 'type="text" placeholder="Type"></td>';
				result += '<td><input class="form-control" type="text" id="color' + count + '" ';
				result += 'placeholder="Color"></td>';
				result += '<td><input class="form-control" id="quantity' + count + '" ';
				result += 'type="text" placeholder="Quantity"></td>';
				result += '<td><input class="form-control" type="text" id="price' + count + '" ';
				result += 'placeholder="Price"></td>';
				return result;
			}
		</script>
	</div>
</body>
</html>